/* Desktop View: More than 1358px */

* {
	font-family: 'Source Code Pro', monospace;
	scroll-behavior: smooth;
}

#projects {
	position: relative;
	height: 1160px;
}

.display-skills {
	position: absolute;
	margin-top: 400px;
	text-align: center;
}

.skills {
	width: 250px;
	height: 250px;
	margin-top: 15px;
	/*display: block;*/
	filter: grayscale(100%);
}

.project {
	max-width: 100%;
	height: auto;
	border-radius: 0;
	object-fit: cover;
}

.btn-info {
	background-color: transparent;
}

.gallery {
	max-width: 100%;
	height: auto;
	border-radius: 0;
	object-fit: cover;	
}

.carousel-about {
	position: absolute;
	color: #ffffff;
	top: 150px;
	left: 180px;
	width: 600px;
	padding: 35px;
}

.carousel-about-2 {
	position: absolute;
	color: #ffffff;
	bottom: 100px;
	right: 100px;
	width: 600px;
	padding: 35px;
}

.carousel-contact {
	position: absolute;
	color: #ffffff;
	top: 200px;
	right: 80px;
	width: 600px;
	padding: 35px;
}

.location-link {
	color: #ffffff;
}

.location-link:hover {
	text-decoration: none;
	color: #808080;
}

.project-link {
	color: #000000;
}

.project-link:hover {
	color: #808080;
	text-decoration: none;
}

footer {
	background-color: #000000;
	color: #ffffff;
}

.footer-link {
	margin: 5px;
	margin-left: 30px;
	padding: 5px;
	color: #ffffff;
}

.footer-link:hover {
	color: #a9a9a9;
	text-decoration: none;
}

@media(max-width: 1024px){
	/* For Laptops */
	.carousel-about{
		top: 90px;
		left: 80px;
		width: 600px;
	}

	.carousel-about-2{
		bottom: -30px;
		right: 30px;
		width: 475px;
	}

	.carousel-contact{
		top: 120px;
		left: 500px;
		width: 350px;
	}

	#projects {
		height: 960px;
	}

	.display-skills {
		margin-top: 350px;
		text-align: center;
	}

	.skills {
		width: 200px;
		height: 200px;
		margin-top: 15px;
	}
}


@media(max-width: 768px){
	/* For Tablets */
	.carousel-about{
		top: 60px;
		left: 40px;
		width: 475px;
		font-size: 12px;
	}

	.carousel-about-2{
		bottom: -35px;
		right: 25px;
		width: 475px;
		font-size: 12px;
	}

	.carousel-contact{
		top: 80px;
		left: 365px;
		width: 350px;
		font-size: 12px;
	}

	.footer-link {
		margin: 0;
		padding: 0;
		margin-left: 5px;
	}

	#projects {
		height: 770px;
	}

	.display-skills {
		margin-top: 325px;
		text-align: center;
	}

	.skills {
		width: 150px;
		height: 150px;
		margin-top: 10px;
	}
}

@media(max-width: 500px){
	/* For Mobile Phones with a width of 500px */
	.carousel-about{
		top: -15px;
		left: 15px;
		width: 325px;
		font-size: 10px;
	}

	.carousel-about-2{
		top: -30px;
		right: 25px;
		width: 175px;
		height: 50px;
		font-size: 8px;
	}

	.carousel-contact{
		top: 20px;
		left: 215px;
		width: 225px;
		font-size: 10px;
	}

	.location-link {
		color: #000000;
	}

	.mobile-text {
		color: #000000;
	}

	.footer-link {
		margin: 5px;
		padding: 5px;
		margin-left: 5px;
	}

	#projects {
		height: 1750px;
	}

	.display-skills {
		margin-top: 1450px;
		text-align: center;
	}

	.skills {
		width: 100px;
		height: 100px;
		margin-top: 10px;
	}
}

@media(max-width: 360px){
	/* For Mobile Phones with a width of 360px */
	.carousel-about{
		top: -5px;
		left: 10px;
		width: 250px;
		font-size: 7px;
	}

	.carousel-about-2{
		top: -25px;
		right: -10px;
		width: 175px;
		height: 50px;
		font-size: 7px;
	}

	.carousel-contact{
		top: 25px;
		left: 150px;
		width: 175px;
		font-size: 7px;
	}

	.mobile-contact {
		font-size: 15px;
	}

	.location-link {
		color: #ffffff;
	}

	.mobile-text {
		color: #ffffff;
	}

	.mobile-text-2 {
		color: #000000;
	}

	.footer-link {
		margin: 5px;
		padding: 5px;
		margin-left: 5px;
	}

	#projects {
		height: 1230px;
	}

	.display-skills {
		margin-top: 1060px;
		text-align: center;
	}

	.skills {
		width: 60px;
		height: 60px;
		margin-top: 10px;
	}
}